/* -------------------------------------------------------------------------- */
/**
 *  OkiBarSlider
 */

/* OkiBarSlider - base (don't touch it') */
.oki-bar-slider-base { display: block; position: relative; overflow: hidden; }
.oki-bar-slider-base > .obs-bar { display: block; position: absolute; top: 0px; left: 0px; height: 100%; width: 999999px; }
.oki-bar-slider-base > .obs-bar > .obs-slide { display: block; width: auto; height: 100%; float: left; }
.oki-bar-slider-base > .obs-bar > .obs-slide-zero-width { display: block; width: 0px; height: 100%; overflow: hidden; font-size: 1px; line-height: 1px; float: left; }

/* OkiBarSlider - themes (put you code below) */