/**
 *  OkiCloud
 */

.oki-cloud-base > .oc-hidden-content { display: block; opacity: 0.0; height: 0px; overflow: hidden; z-index: 1; }
.oki-cloud-base > .oc-hidden-content.oc-showed { opacity: 1.0; height: auto; }