/**
 *  OkiSelect
 */

.oki-select-base-hidden { width: auto; height: 0px; overflow: hidden; display: block; }
.oki-select-base { cursor: pointer; height: 34px; margin: 0; padding: 0; display: block; position: relative; background-color: #f4f4f4; }
.oki-select-base > span { display: block; background: transparent no-repeat right top; margin: 0; padding: 0 16px 0 0; height: 34px; }
.oki-select-base > span > span { display: block; padding: 0 0 0 16px; height: 34px; }
.oki-select-base > span > span > span { display: block; height: auto; padding: 8px 0 0 0; white-space: nowrap; overflow: hidden; background-image: none; color: #f5851f; font-weight: bold; font-size: 14px; line-height: 14px; font-family: "Arial"; }
.oki-select-base .os-cloud { position: absolute; top: 34px; left: 0px; background-color: #e6e7e8; }
.oki-select-base .os-cloud .os-padd { padding: 0; }
.oki-select-base .osa-padd a { display: block; color: #6e6e71; font-weight: bold; min-height: 33px; font-size: 14px; line-height: 16px; border-top: 1px solid #d4d5d6; text-decoration: none; }
.oki-select-base .osa-padd a span { display: block; padding: 8px 5px 8px 10px; }
.oki-select-base .osa-padd a:first-child { border-top-width: 0px; }
.oki-select-base .osa-padd a:hover { color: #fff; background-color: #f0a35d; }
.oki-select-base .osa-padd a.active { color: #fff; background-color: #f5851f; }
.oki-select-base .os-cloud  {  }
.oki-select-base .os-cloud { transition: all 200ms ease; }
.oki-select-base.os-multiple .osa-padd a { background: url('../images/oki-select-checked.png') no-repeat 12px 9px; }
.oki-select-base.os-multiple .osa-padd a span { padding-left: 42px; }
.oki-select-base.os-multiple .osa-padd a:hover { background-image: /*url('../images/oki-select-checked-act.png')*/ none; background-color: #f0a35d; }
.oki-select-base.os-multiple .osa-padd a.active { background-image: /*url('../images/oki-select-checked-act.png')*/ none; background-color: #f5851f; } 
.oki-select-base .oki-scroll-area-base.osa-vertical-scrollbar-active > .osa-cont > .osa-padd { padding-right: 5px; }